.section{
    border-style: solid;
    border-radius: 2%;
    border-color: black;
    background-color: white;
    word-wrap: normal;
    display: inline-block; 
    text-align: center;
    padding: 5vh;
}

.smallbtn{
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.25s;
}

.smallbtn:hover{
    background-color: #a3f7ff;
}

.risp{
    height: 10vw;
    width: 20vw;
    margin: 3vw;
}

.lost{
    border-radius: 5%;
}