.strtbtn{
    margin-left: 15vh;
    margin-right: 15vh;
    margin-top: 15vh;
    height: 30vh;
    width: 30vh;
    text-decoration: blue;
    font-size: 5vh;
    color: white;
    background-color: rgba(85, 85, 85, 0.9);
    border: solid white;
    transition: 0.25s;
    border-radius: 10%;
    box-shadow: 5px 10px;

}

.strtbtn:hover{
    border-radius: 25%;
}